$logo-green: #02b053;
$logo-orange: #fa813f;

$toolbar-back: darken($logo-green, 0);
$toolbar-front: lighten($logo-orange, 0);
$toolbar-border-width: 2px;

$accent-border-width: 1px;

$footer-back: lighten($logo-orange, 9);

$secondary-font-color: #555555;
$font-size-small: 0.9rem;

//see https://css-tricks.com/using-flexbox/ 
// http://the-echoplex.net/flexyboxes/

html, body, div, p, header, footer, main, nav, ul, li, a, span, img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header, main, footer {
  display: block;
  img {
    border: none;
  }
}

body {
  font-family: 'Oxygen', sans-serif;
  line-height: 1.5rem;
  background-color: white;
  margin: 0;
  padding: 0;
}

//header
#block-views-block-homepage-slideshow-block-1, header nav ul, main, .region-footer {
  background-color: white;
  max-width: 60rem;
  margin: 0 auto;
}

header .menu {
  font-family: 'Oxygen', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Droid Serif', sans-serif;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.0rem;
}

.site-slogan {
  font-family: 'Signika', sans-serif;
  font-size: 1.0rem;
  color: $toolbar-back;
  padding-bottom: 0.1rem;
}

body.path-frontpage #block-views-block-homepage-slideshow-block-1 {
  border-bottom: 0px solid $toolbar-back;
}

body:not(.path-frontpage) #block-seitenkopfmitlogo {
  background-image: url("../images/Logo-Baum-Stuehle.png");
  background-position: -0px bottom;
  background-size: auto 0rem;
  background-repeat: no-repeat;
  margin-bottom: -0px;

  & > * {
    display: block;
    padding: 0.5rem 0;
    margin: auto;
    text-align: center;
  }
  img {
    width: 10rem;
    height: auto;
    margin: auto;
    display: block;
  }
  h3 {
    font-family: 'Droid Serif', serif;
    font-size: 1.0rem;
    color: $toolbar-back;
    padding-bottom: 0.1rem;

  }
}

//slideshow
#block-views-block-homepage-slideshow-block-1 {
  background-color: $toolbar-back;
}

header .homepage-slideshow-view div {
  position: relative;
}

header .homepage-slideshow-view div div {
  max-width: 100%;
}

header .homepage-slideshow-view div img {
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  -webkit-transition: opacity ease 2s;
  transition: opacity ease 2s;
  /*box-shadow: 3px 3px 5px -2px;*/
}

header .homepage-slideshow-view .views-row div::after {
  content: ' ';
  display: block;
  clear: both;
}

header .homepage-slideshow-view .views-row img.visible {
  opacity: 1;
}

header {
  .views-row:nth-child(1) {
    margin-left: 0%;
  }
  .views-row:nth-child(2) {
    margin-left: -100%;
  }
  .views-row:nth-child(3) {
    margin-left: -100%;
  }
  .views-row:nth-child(4) {
    margin-left: -100%;
  }
  .views-row:nth-child(5) {
    margin-left: -100%;
  }
}

//end slideshow

//topnav
.region-header {
  background-color: #ffffff;
}

#block-mainnavigation {
  border-top: $toolbar-border-width $toolbar-back solid;
  border-bottom: $toolbar-border-width $toolbar-back solid;
  padding-bottom: 0;
  ul.menu {
    padding: 0;
    margin: 0 auto;
    position: relative;
    width: 100%;
    text-align: center;

    li {
      display: inline-block;
      padding: 0;
    }
    a {
      display: inline-block;
      padding: 0.75rem 0.25rem;
      border-bottom: 0px solid transparent;
      color: #000;
      font-size: 1rem;
      width: 100%;
      text-decoration: none;
    }
    li.menu-item--active-trail a, li a:hover {
      background-color: $toolbar-back;
      border-bottom: 0px solid $toolbar-front;
      color: white;
    }
  }
}

//content
.field--name-field-hero img, .field--name-field-bilderliste img {
  border: 1px solid black;
  width: 100%;
  height: auto;
}

main {
  margin: 3rem auto;
  .layout-content {
    margin: 0 1rem;
  }
}

article:not(.sticky), .views-frontpage .views-row {
  border-top: $accent-border-width solid $footer-back;
  margin-bottom: 1rem;
}

article:first-child, .views-frontpage .views-row:first-child {
  border-top: none;
}

//not if its the first one

article header h2 {
  font-size: 1.2rem;
}

article header h2 a {
  color: $toolbar-back;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

article {
  a {
    color: $logo-green;
  }
  .field--name-body p:first-child {
    margin-top: 0;
  }

  header .meta {
    font-size: 0.7rem;
    text-align: right;
  }
  footer {
    text-align: right;
    margin-bottom: 0rem;
    font-size: 0.9rem;
    color: $secondary-font-color;
    .node-readmore a {
      text-decoration: none;
      color: $footer-back;
    }
  }

  .node__links {
    text-align: right;
    font-size: $font-size-small;
  }
}

.field--name-body p iframe {
  width: 320px;
  height: 180px;
  margin: 0 -16px;
}

//system elements
#block-useraccountmenu {
  position: absolute;
  top: 3rem;
  right: 1rem;
  li {
    display: inline-block;
  }
  a {
    padding: 0.2rem 1rem;
    background-color: #dddddd;
    color: #02b053;
  }
}

ul.inline li {
  padding: 0 1rem 0 0;
}

//node action menu
.region-pre-content {
  nav {
    a {
      padding: 0.2rem 1rem;
      background-color: #dddddd;
      color: $toolbar-back;
    }
  }
}

/* FOOTER */
body > div > footer {
  border-top: $toolbar-border-width solid $footer-back;
  font-size: $font-size-small;

  & > .region-footer {
    //background-color: $footer-back;
    padding: 1rem 0;
    & > * {
      padding: 1rem 0;
      & > * {
        margin: 0rem auto;
        padding: 0 1rem;
      }
    }
    .menu {
      list-style: none;
    }
    .menu li {
      list-style: none;
      display: inline-block;
      margin: 0;
      a {
        padding: 0 1rem 0 0;
      }
    }
    li, footer span {
      display: block;
      padding: 0;
    }
    * {
      color: $secondary-font-color;
    }
    p {
      margin: 0;
    }
  }
}

#block-footeraddresse {
  border-style: solid;
  border-color: $footer-back;
  border-width: 1px 0px;
}

#block-poweredbydrupal {
  span {
    display: block;
    margin: 0 0 0 auto;
    a {
      background-image: url("https://www.drupal.org/files/drupal%208%20logo%20inline%20CMYK%2072.png");
      background-repeat: no-repeat;
      color: transparent;
      background-size: contain;
      min-width: 90px;
      display: inline-block;
      margin-left: 1ex;
    }
  }
}

//slidebox
#slidebox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  &.open {
    display: block;
    cursor: zoom-out;
  }

  div {
    left: 0;
    right: 0;
    margin-top: -25%;
    top: 45%;
    position: absolute;
  }

  img {
    display: block;
    margin: auto;
    width: auto;
    height: auto;
    max-width: 90%;
    border: 5px solid white;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.7);
  }
}

@media screen and (min-width: 480px) {
  body:not(.path-frontpage) {
    #block-seitenkopfmitlogo {
      margin-left: auto;
      margin-right: auto;
    }
  }
  body.path-frontpage {
    .node__content {

      .field--name-field-hero {
        //max-width: 110px;
        margin-right: 1rem;

        img {
          border: 1px solid black;
          display: block;
          height: auto;
          width: 110px;
        }
      }
      .field--name-body {
        //min-width: 320px;
      }

    }
  }
  .field--name-body p iframe {
    width: 448px;
    height: 252px;
    margin: 0 -16px;
  }

}

@media screen and (min-width: 640px) {
  #block-mainnavigation ul.menu li a {
    font-size: 1.2rem;
  }
  .site-slogan {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
  }
  body.path-frontpage {
    .node__content {
      .field--name-field-hero {
        //max-width: 166px;
        img {
          width: 166px;
        }
      }
    }
  }
  body:not(.path-frontpage) #block-seitenkopfmitlogo {
    background-size: auto 6rem;
    background-position-x: 1rem;
    margin-bottom: -3px;
    border-width: 0.5rem 1rem 0 1rem;
    border-style: solid;
    border-color: white;
    max-width: 60rem;
    & > * {
      margin-left: 5rem;
      padding: 0.5rem 0;
    }
    img {
      width: 12rem;
      height: auto;
    }
    h3 {
      font-size: 1.2rem;
      padding-bottom: 0.5rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .site-slogan {
    font-size: 1.4rem;
    padding-bottom: 0.5rem;
  }
  body:not(.path-frontpage) #block-seitenkopfmitlogo {
    background-size: auto 9rem;
    background-position-x: 1rem;
    margin-bottom: -4px;
    & > * {
      margin-left: 10rem;
      padding: 1rem 0;
    }
    img {
      width: 15rem;
      height: auto;
    }
    h3 {
      padding-bottom: 1rem;
      /*für umbruch im Titel:
      margin: 0;
      &:first-of-type {
        border-bottom: 1px solid $logo-orange;
      }*/
    }
  }
  .site-slogan {
    padding-bottom: 1rem;
  }

  body.path-frontpage {
    .node__content {
      .field--name-field-hero {
        img {
          width: 220px;
        }
      }
    }
  }
  body > div > footer > .region-footer {
    .menu li {
      display: block;
    }
    #block-footeraddresse {
      border-style: solid;
      border-width: 0px 1px;
    }
  }

  body:not(.path-frontpage) article .node__content {

    .field--name-field-hero {
      //@include flex(1, 0, 100%);
    }
    .field--name-body {
      min-width: 75%;
      max-width: 100%;
    }
    .field--name-field-bilderliste.field__items {
      max-width: 25%;
      padding-left: 1rem;
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .field--name-body p iframe {
    width: 560px;
    height: 315px;
  }
}

@media screen and (min-width: 1024px) {
  body:not(.path-frontpage) #block-seitenkopfmitlogo h3,
  .site-slogan {
    font-size: 1.6rem;
  }
}

@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300|Droid+Serif:400);
//@import url(http://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic|Oxygen:400,300,700|Signika:400,300,600,700|Droid+Serif:400,400italic,700,700italic);
/*
test {
  font-family: 'Arimo', sans-serif;
  font-family: 'Oxygen', sans-serif;
  font-family: 'Signika', sans-serif;
  font-family: 'Istok Web', sans-serif;
}
*/